<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">TODO [ng2-bor]</h3>
        </div>
        <div>
          <img src="{{user.avatar}}">
          {{user|json}}
        </div>
      </div>
      <div class="inner cover">
       
        <div class="row justify-content-center">
          <div class="col-md-8 col-xs-12 form-inline">
            <input (keydown)="doAdd($event)" [(ngModel)]="task" type="text" name="task" class=" col-8 form-control form-control-lg" placeholder="Task name, ENTER">
            
            <div class="btn-group col-4" data-toggle="buttons">
              <label class="btn btn-secondary btn-lg" [class.active]="show.completed">
                <input type="checkbox" [(ngModel)]="show.completed"> 
                <i class="fa fa-check-circle-o"></i>
              </label>
              <label class="btn btn-secondary btn-lg" [class.active]="show.notcompleted">
                <input type="checkbox" [(ngModel)]="show.notcompleted"> 
                <i class="fa fa-circle-o"></i>
              </label>
            </div>
            <!--<pre style="color: yellow">{{ tasks | json }}</pre>-->

            <div class="col-12 text-left">
              <!--<em class="text-muted">
                Done: {{tasks | sum: 'completed'}} || 
                Must do: {{tasks | sum: ''}}
              </em>-->
            </div>

          </div>
          <div class="col-md-8 col-xs-12">
            <ul class="tasks">
              <li *ngFor="let t of tasks, let i = index">
               <div class="row" (click)="doToggle(i)">
                 <div class="col-1"> <i class="fa fa-{{t.isComplited ? 'check-' : ''}}circle-o"></i></div>
                 <!--<div *ngIf="!t.isComplited" class="col-1"> <i class="fa fa-circle-o"></i></div>
                 <div *ngIf="t.isComplited" class="col-1"> <i class="fa fa-check-circle-o"></i></div>-->
                 
                 <div class="col-10" [class.active]="t.isComplited"> {{t.title}} {{t.isComplited}}</div>
                 <div class="col-1"> MM</div>
               </div>
               
              </li>
             
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>