/* You can add global styles to this file, and also import other style files */
a,
a:focus,
a:hover {
  color: #fff;
}


.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #fff;
    background-color: transparent;
}

.form-control.form-control-lg {
    background: transparent;
    border: 1px solid;
    border-radius: 0;
    color: #fff;
}

button, input, optgroup, select, textarea {
    font-family: 'Catamaran', sans-serif;
}

label.btn.btn-secondary.btn-lg {
    opacity: .5;
}

label.btn.btn-secondary.btn-lg.active {
    opacity: 1;
}

html,
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
input {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 2rem;
}

.loader {
   margin-top: 45vh; 
}

.tasks {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tasks li {
    text-align: left;
    font-size: 20px;
    margin: .4rem 0;
    padding: 1rem;
    cursor: pointer;
    display: block;
}

.tasks li.complited {
    color: #585858;
    text-decoration: line-through;
}

.tasks li.show {
    display: block!important;
}/* You can add global styles to this file, and also import other style files */
.active {
    text-decoration: line-through;
}